<div>
  <div class="header">一年级口算训练(建议ipad横屏使用)</div>
  <div class="config">
    答案最大值<input [(ngModel)]="config.answerMax" type="number" name="answerMax" class="number">&nbsp;,
    算数最大值<input [(ngModel)]="config.numMax" type="number" name="numMax" class="number">&nbsp;,
    <input [(ngModel)]="config.numCount" type="number" name="numCount" class="number">个数运算&nbsp;,
    仅口算<input [(ngModel)]="config.kousuan" name="kousuan" type="checkbox">&nbsp;
    <button (click)="genFormulas()">生成题目</button>
  </div>
  <div class="action">
    <button *ngIf="!studying && !complete" (click)="start()" style="margin-right: 5px;">开始训练</button>
    <button *ngIf="kousuaning" (click)="completeKS()">完成口算</button>
    <span *ngIf="kousuaning">现在请完成以下题目的口算...</span>
    <button *ngIf="studying && !kousuaning && !writing" (click)="write()">填写答案</button>
    <button *ngIf="writing" (click)="submit()">完成</button>
    <span *ngIf="time" style="margin-top: 10px;">用时{{usedTime}}</span>&nbsp;&nbsp;&nbsp;
    <span *ngIf="complete && !config.kousuan">{{result}}</span>
  </div>
  <div class="body">
    <div *ngFor="let formula of formulas">
      <div class="formula">
        <div *ngFor="let el of formula.el" class="formula-el">{{el}}</div>
        <div class="formula-el">=</div>
        <input type="number" [(ngModel)]="formula.value" [disabled]="!writing" class="number">
        <div *ngIf="complete" class="formula-el answer"
          [ngStyle]="{'color':!config.kousuan && formula.answer!==formula.value?'red':'grey'}">
          {{formula.answer}}</div>
      </div>
    </div>
  </div>
</div>